# Empty values reset the configuration to the default value
font-size = 15

# Mac brew install font-fira-code-nerd-font
# ghostty +list-fonts

font-family = "Maple Mono NF Medium"
font-family-bold = "Maple Mono NF Bold"
font-family-italic = "Maple Mono NF Medium Italic"

theme = "catppuccin-frappe"

cursor-style = "block"
cursor-style-blink = true
cursor-opacity = 0.8

# mouse-shift-captrue = true
copy-on-select = true
clipboard-trim-trailing-spaces = true

# command = "/bin/sh -c"
# shell-integration = "zsh"

# link = true
link-url = true
# working-directory = '$HOME'

window-inherit-working-directory = true
window-inherit-font-size = true
window-theme = ghostty
macos-titlebar-proxy-icon = visible
quit-after-last-window-closed = true

# keybind = super+t=ignore
# keybind = super+t=unbind
# keybind = super+n=new_tab
keybind = super+r=reload_config

auto-update = off
