# Empty values reset the configuration to the default value
font-size = 14
background-opacity = 0.9

# Mac brew install font-fira-code-nerd-font
# ghostty +list-fonts
# ghostty +show-config --changes-only=false > ghostty.config

font-family = Maple Mono NF CN
# font-family-bold = Maple Mono NF CN Bold
# font-family-italic = Maple Mono NF CN Italic

# ghostty +list-themes
# theme = Catppuccin Frappe
theme = Gruvbox Material Dark

cursor-style = "block"
cursor-style-blink = true
cursor-opacity = 0.8

# mouse-shift-captrue = true
clipboard-write = allow
clipboard-read = allow
copy-on-select = clipboard
clipboard-trim-trailing-spaces = true

# command = "/bin/sh -c"
# shell-integration = "zsh"

# link = true
link-url = true
# working-directory = '$HOME'

window-inherit-working-directory = true
window-inherit-font-size = true
window-theme = auto
macos-titlebar-proxy-icon = visible
quit-after-last-window-closed = true

# keybind = super+t=ignore
# keybind = super+t=unbind
# keybind = super+n=new_tab
keybind = super+r=reload_config
keybind = ctrl+a=unbind

auto-update = check
